## Docker Compose env variables

## Postgres Database
POSTGRES_PASSWORD=postgrespassword

## Node.js API
PORT=5555
CROW_INDEXER_HOST=http://localhost

## Sleep time when looking for new blocks
TIME=10000

## Graphql Engine
DATABASE_URL=postgres://postgres:postgrespassword@postgres:5432/postgres
HASURA_WEBHOOK_URL=http://graphql-engine:3000/api/sync
HASURA_WEBHOOK_SECRET_HEADER=superkey
HASURA_GRAPHQL_ADMIN_SECRET=superpasswd
HASURA_GRAPHQL_ENABLE_CONSOLE=true
HASURA_GRAPHQL_DEV_MODE=true
HASURA_GRAPHQL_UNAUTHORIZED_ROLE=public
HASURA_GRAPHQL_URL=http://graphql-engine:8080/v1/graphql

### EDIT BELOW: NETWORK CONFIGURATION
## Uncomment one of the sections below depending on which network should be indexed.

## Arbitrum One 
# RPC_HOST=<ARBITRUM_ONE_NODE_URL>
# UNICROW_ADDRESS=0x24e9ECC6c56dcD0C875fDF181FA3A4EEf3c5D5F0
# UNICROW_DISPUTE_ADDRESS=0xab32831aA9bBFEB12F1BA7B74eBFf76e45944937
# UNICROW_ARBITRATOR_ADDRESS=0xF1447b0fda912a6857B5d77d7cDE9663266896cf
# UNICROW_CLAIM_ADDRESS=0x40F83551803051676eB7Cb0374176d03db247b97

## Arbitrum Sepolia Testnet
# RPC_HOST=<ARBITRUM_SEPOLIA_NODE_URL>
# UNICROW_ADDRESS=0x6d98b03C09EaD582a77C093bdb2d3E85683Aa956
# UNICROW_DISPUTE_ADDRESS=0x3dC5d22716599e7FcD1bbB1752544D9dfa7e719E
# UNICROW_ARBITRATOR_ADDRESS=0xdB400Dd10a4A645c2C1429b3A48F1449E7e4F64A
# UNICROW_CLAIM_ADDRESS=0x7761D841D83c5Aeb876DB2b110798C668cd83872

## Ethereum Sepolia Testnet
# RPC_HOST=<ETHEREUM_SEPOLIA_NODE_URL>
# UNICROW_ADDRESS=0xEC8eaCfC2Dd1614b7182676A118088a204F69b86
# UNICROW_DISPUTE_ADDRESS=0x335ba877387646815cb189f9883dF98aa0913EAF
# UNICROW_ARBITRATOR_ADDRESS=0x310Da0C6c224C14168e7bBEd632797A79B9eff95
# UNICROW_CLAIM_ADDRESS=0xAF6eC0acE0Ac7CB7865313523cAE83Cfaaa788e0
